body {
  text-align: center;  /* centers heading and buttons */
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

h1 {
  color: pink;

}
button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: pink;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;  /* perfect circle */
  object-fit: cover;
  display: block;
  margin: 10px auto;   /* centers below the heading */
  border: 2px solid #3498db; /* optional border */
}
